<h3>Księgarnia Śląska - Zamówienie</h3> <p>
    Właśnie wysłaliśmy Twoje zamówienie:
  </p> <table>
  <tr><th colspan="2">Il.</th>
  <th>Opis</th></tr> 
    <%= render @order.line_items %>
  </table>
